/device.json
/harmoland_bot.iml
/tmp/
/target/
/.idea/
/log/
/SereinFish/
/src/main/resources/ehcache-YuQ-Mirai-demo.xml
/src/main/resources/logback.xml
/conf/
/build.gradle.kts
/gradlew
/gradlew.bat
/pom.xml
/settings.gradle.kts
/.gitignore
!/bot.jar
.gradle/
bot.jar
gradle/
start.bat
!/bot.jar
!/start.bat
/start.bat
/bot.jar
/SereinFish_bot-1.0-jar-with-dependencies.jar
/build/tmp/compileJava/source-classes-mapping.txt
build/classes/
build/generated/
/pwd.txt
/cache/
/device_2062971306.json
/device_2094004601.json
/db/sereinfish.mv.db
/db/sereinfish.trace.db
